#Old
.old
#IDE
.vscode
*.code-workspace
#Assets
*.ppm
!ppm_tests/*.ppm
*.png
!screenshots/*.png
*.jpg
*.ini
#Objects
objects/*.o
#Compressed files
*.zip
#Useless imguiStuff
externals/imgui/
#Executables
*.exe
main
*.out